@charset "utf-8";
/* CSS Document */

// base
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  clear: both;
  zoom: 1;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  content: "";
  zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  color: #333;
  text-decoration: none;

  &:focus,
  &:active,
  &:visited {
    color: #333;
  }

  &:hover {
    color: #333;
    text-decoration: none;
  }
}

// 基础颜色
$main-color: #49aeed;
$sub-color: #666;
$label-color: #666;
$input-color: #333;
$placeholder-color: #999;
$line-color: #ccc;
/* px2rem rem换算 */

@function px2rem($px, $base-font-size: 75px) {
  @if (unitless($px)) {
    @warn "Assuming # { $px } to be in pixels, attempting to convert it into pixels for you";
    @return px2rem($px + 0px); // That may fail.
  }

  @else if (unit($px)==rem) {
    @return $px;
  }

  @return ($px / $base-font-size) * 1rem;
}

input::placeholder {
  color: $placeholder-color;
}

/* rem换算为：720px页面实际像素/72 rem */

body {
  width: 100%;
  max-width: 10rem;
  margin: 0 auto;
  background: #f5f5f5;
  color: #333;
  font-family: PingFang SC, San Francisco;
}

// sprit 图标
.u-icon {
  display: inline-block;
  background: url(../images/u-icon.png) no-repeat;
  background-size: px2rem(240px) auto;
}

// 全局通用组件
@import "u_module";



// 理财
.u-icon__lc-1,
.u-icon__lc-2 {
  width: px2rem(70px);
  height: px2rem(70px);
}

.u-icon__lc-2 {
  background-position: px2rem(-70px) 0;
}

// 贷款
.u-icon__dk-1,
.u-icon__dk-2,
.u-icon__dk-3 {
  width: px2rem(80px);
  height: px2rem(80px);
  margin-bottom: px2rem(15px);
}

.u-icon__dk-1 {
  background-position: px2rem(-80px * 2) px2rem(-70px);
}

.u-icon__dk-2 {
  background-position: px2rem(-80px * 1) px2rem(-70px);
}

.u-icon__dk-3 {
  background-position: px2rem(-80px * 0) px2rem(-70px);
}

// 贷款小图标
.u-icon__dk-sub-1,
.u-icon__dk-sub-2,
.u-icon__dk-sub-3 {
  width: px2rem(50px);
  height: px2rem(50px);
}

.u-icon__dk-sub-1 {
  background-position: px2rem(-50px * 0) px2rem(-150px);
}

.u-icon__dk-sub-2 {
  background-position: px2rem(-50px * 1) px2rem(-150px);
}

.u-icon__dk-sub-3 {
  background-position: px2rem(-50px * 2) px2rem(-150px);
}

// 客服
.u-icon__kf-1,
.u-icon__kf-2,
.u-icon__kf-3,
.u-icon__kf-4 {
  width: px2rem(31px);
  height: px2rem(31px);
  float: left;
  margin: px2rem(4px) px2rem(5px);
}

.u-icon__kf-1 {
  background-position: px2rem(-30px * 0) px2rem(-200px);
}

.u-icon__kf-2 {
  background-position: px2rem(-30px * 1) px2rem(-200px);
}

.u-icon__kf-3 {
  background-position: px2rem(-30px * 2) px2rem(-200px);
}

.u-icon__kf-4 {
  background-position: px2rem(-30px * 3) px2rem(-200px);
}

// 通用蓝框按钮
.u-link-btn {
  display: inline-block;
  height: px2rem(46px);
  padding: 0 px2rem(18px);
  line-height: px2rem(46px);
  border: 1px solid $main-color;
  border-radius: px2rem(23px);
  color: $main-color;
  font-size: 12px;

  &:focus,
  &:active,
  &:visited {
    color: $main-color;
  }
}

.c-index {
  padding-bottom: px2rem(98px);
}

// 顶部导航
.top-nav {
  position: relative;
  box-sizing: border-box;
  height: px2rem(264px);
  padding-top: px2rem(38px);
  background-color: $main-color;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: px2rem(89px);
    content: "";
    background: url(../images/banner_cover.png) center bottom no-repeat;
    background-size: 100% auto;
  }
}

.top-nav__nav-item {
  float: left;
  box-sizing: border-box;
  width: 33.3%;

  &:nth-child(2) {
    width: 33.4%;
  }
}

.top-nav__link {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.top-nav__icon {
  display: block;
  width: px2rem(80px);
  height: px2rem(80px);
  margin: 0 auto px2rem(12px);
  background: url(../images/nav_top.png) no-repeat;
  background-size: auto 100%;
}

.top-nav__icon-0 {
  background-position: 0 0;
}

.top-nav__icon-1 {
  background-position: px2rem(-80px) 0;
}

.top-nav__icon-2 {
  background-position: px2rem(-160px) 0;
}

.top-nav__tit {
  color: #fff;
  font-size: 14px;
}

// 底部导航
.c-foot__nav {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: px2rem(108px);
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #f5f5f5;
}

.c-foot__nav-wrap {
  float: left;
  width: 33.3%;
  text-align: center;

  &:nth-child(2) {
    width: 33.4%;
  }

  a {
    display: inline-block;
  }

  span {
    display: block;
    font-size: 10px;
    margin-top: px2rem(-8px);
    text-align: center;
    color: #999;
  }
}

.c-foot__nav-icon {
  display: inline-block;
  width: px2rem(60px);
  height: px2rem(60px);
  margin: px2rem(10px) auto 0;
  background: url(../images/c-foot__nav.png) no-repeat;
  background-size: px2rem(180px) auto;
}

.c-foot__nav-icon-1 {
  background-position: 0 0;
}

.c-foot__nav-icon-2 {
  background-position: px2rem(-62px) 0;
}

.c-foot__nav-icon-3 {
  background-position: px2rem(-62px * 2) 0;
}

.c-foot__nav-link__active {
  i {
    background-position-y: px2rem(-60px);
  }

  span {
    color: #12a4ef;
  }
}

// 二级导航
.c-menu {
  padding-bottom: px2rem(34px);
  background-color: #fff;
}

.c-menu__item {
  float: left;
  box-sizing: border-box;
  width: 25%;
  padding-top: px2rem(30px);
}

.c-menu__link {
  display: block;
  width: 82%;
  margin: 0 auto;
  padding-top: px2rem(10px);
  text-align: center;
}

.c-menu__icon {
  display: block;
  width: px2rem(72px);
  height: px2rem(72px);
  margin: 0 auto px2rem(6px);
  font-size: 12px;
  background: url(../images/c-menu.png) no-repeat;
  background-size: px2rem(72px * 4) auto;
}

.c-menu__icon-0 {
  background-position: 0 0;
}

.c-menu__icon-1 {
  background-position: px2rem(-72px) 0;
}

.c-menu__icon-2 {
  background-position: px2rem(-72px * 2) 0;
}

.c-menu__icon-3 {
  background-position: px2rem(-72px * 3) 0;
}

.c-menu__icon-4 {
  background-position: px2rem(-72px * 0) px2rem(-72px);
}

.c-menu__icon-5 {
  background-position: px2rem(-72px * 1) px2rem(-72px);
}

.c-menu__icon-6 {
  background-position: px2rem(-72px * 2) px2rem(-72px);
}

.c-menu__icon-7 {
  background-position: px2rem(-72px * 3) px2rem(-72px);
}

.c-menu__icon-8 {
  background-position: px2rem(-72px * 0) px2rem(-72px * 2);
}

.c-menu__icon-9 {
  background-position: px2rem(-72px * 1) px2rem(-72px * 2);
}

.c-menu__icon-10 {
  background-position: px2rem(-72px * 2) px2rem(-72px * 2);
}

.c-menu__icon-11 {
  background-position: px2rem(-72px * 3) px2rem(-72px * 2);
}

.c-menu__icon-12 {
  background-position: px2rem(-72px * 0) px2rem(-72px * 3);
}

.c-menu__icon-13 {
  background-position: px2rem(-72px * 1) px2rem(-72px * 3);
}

.c-menu__icon-14 {
  background-position: px2rem(-72px * 2) px2rem(-72px * 3);
}

.c-menu__icon-15 {
  background-position: px2rem(-72px * 3) px2rem(-72px * 3);
}

.c-menu__icon-16 {
  background-position: px2rem(-72px * 0) px2rem(-72px * 4);
}

.c-menu__icon-17 {
  background-position: px2rem(-72px * 1) px2rem(-72px * 4);
}

.c-menu__icon-18 {
  background-position: px2rem(-72px * 2) px2rem(-72px * 4);
}

.c-menu__icon-19 {
  background-position: px2rem(-72px * 3) px2rem(-72px * 4);
}

.c-slider {
  height: px2rem(258px);
  margin-bottom: px2rem(22px);

  .mui-slider-indicator {
    bottom: px2rem(20px);
    line-height: px2rem(9px);

    .mui-indicator {
      width: px2rem(9px);
      height: px2rem(9px);
      margin: 0 px2rem(6px);
      background: rgba(255, 255, 255, 0.5);
    }

    .mui-active {
      background: rgba(255, 255, 255, 1);
    }
  }
}

// 栏目标题栏高
$col-tit-height: 88px;

.c-col__wrapper {
  background-color: #fff;
  margin-bottom: px2rem(22px);
}

.c-col__tit-wrap {
  position: relative;
  min-height: px2rem($col-tit-height);
  border-bottom: 1px solid #f1f1f1;

  &:before {
    position: absolute;
    left: px2rem(30px);
    top: px2rem(27px);
    width: px2rem(6px);
    height: px2rem(34px);
    border-radius: 5px;
    background-color: #7bbb2f;
    content: "";
  }
}

.c-col__tit {
  float: left;
  margin: 0 0 0 px2rem(56px);
  font-size: 16px;
  line-height: px2rem($col-tit-height);
  font-weight: normal;
}

.c-col__more-btn {
  position: relative;
  float: right;
  margin-right: px2rem(30px);
  padding-right: px2rem(35px);
  line-height: px2rem($col-tit-height);
  color: #ccc;
  font-size: 14px;

  &:focus,
  &:active,
  &:visited,
  &:hover {
    color: #ccc;
  }

  &:before,
  &:after {
    position: absolute;
    right: 0;
    content: "";
    width: px2rem(24px);
    height: px2rem(2px);
    background-color: #ccc;
  }

  &:before {
    top: px2rem(35px);
    transform: rotate(45deg);
  }

  &:after {
    top: px2rem(50px);
    transform: rotate(-45deg);
  }
}

// 理财
.c-col__content-wrap-2 {
  padding: px2rem(25px) 0;

  li {
    float: left;
    box-sizing: border-box;
    width: 50%;
    text-align: center;

    &:first-child {
      border-right: 1px solid #ccc;
    }
  }
}

.c-lc__wrap {
  display: inline-block;
  padding: px2rem(8px) 0 px2rem(15px);
}

.c-lc__pic {
  float: left;
  box-sizing: border-box;
  padding-top: 16px;
}

.c-lc__content-wrap {
  width: px2rem(240px);
  margin-left: px2rem(70px + 16px);
  text-align: left;

  span {
    display: block;
  }
}

.c-lc__tit {
  font-size: 14px;
  margin-bottom: px2rem(5px);
}

.c-lc__subtit {
  font-size: 10px;
  margin-bottom: px2rem(16px);
  color: $sub-color;
}

// 贷款
.c-col__content-wrap-3 {
  padding: px2rem(30px) 0;

  li {
    float: left;
    width: 33.3%;
    text-align: center;

    &:nth-child(2) {
      width: 33.4%;
    }
  }
}

.c-dk__wrap {
  display: inline-block;
  text-align: center;
  padding-top: px2rem(5px);

  span {
    display: block;
  }
}

.c-dk__tit {
  font-size: 14px;
}

.c-dk__subtit {
  margin-bottom: px2rem(34px);
  font-size: 10px;
  color: $sub-color;
}

.c-dk__info {
  font-size: 14px;

  i {
    margin-right: px2rem(7px);
    vertical-align: middle;
  }
}

// 网点
.c-col__content-wrap {
  padding: px2rem(30px);
}

.c-pic__wrap {
  float: left;
  width: px2rem(270px);

  img {
    width: 100%;
  }
}

.c-pic__content-wrap {
  margin-left: px2rem(270px + 54px);

  span {
    display: block;
  }
}

.c-pic__tit {
  font-size: 14px;
  color: #999;
  margin-bottom: px2rem(6px);
}

.c-pic__cont {
  font-size: 14px;
  color: $sub-color;
  line-height: 22px;
  margin-bottom: px2rem(10px);
}

// 客服
.c-kf__wrap {
  text-align: center;

  a {
    margin: 0 px2rem(8px);
  }
}

@media screen and (max-width: 320px) {
  .c-kf__wrap {
    a {
      margin: 0 px2rem(4px);
    }
  }
}

/* --------------------- */
// 通用头部
.c-page {
  .mui-bar-nav {
    background-color: $main-color;
    box-shadow: none;

    a {
      color: #fff;
    }
  }

  .mui-title {
    font-weight: normal;
    color: #fff;
  }
}

.c-top-bar__back {
  font-size: 17px;
  font-family: PingFang SC, San Francisco;
}

// 我的银行卡
@import "cards";

.c-card-tans__pull-wrap {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .mui-scroll-wrapper {
    top: px2rem(120px + 88px);
    padding-top: 44px;
    height: auto;
  }
}

// 交易明细
.c-card-trans-bar {
  position: relative;
  z-index: 5;
  height: px2rem(120px);
  line-height: px2rem(120px);
  border-bottom: 1px solid $line-color;
  vertical-align: middle;
  background-color: #fff;

  span {
    vertical-align: middle;
  }

  .mui-icon-arrowright {
    float: right;
    margin: px2rem(40px) px2rem(30px) 0 0;
    color: #cfcfcf;
  }
}

.c-bar-logo {
  display: inline-block;
  width: px2rem(53px);
  height: px2rem(53px);
  margin: 0 px2rem(10px) 0 px2rem(30px);
  background: url(../images/bar_logo.png) center no-repeat;
  background-size: 100% auto;
}

.c-card-tans-card {
  font-size: 16px;
}

.mui-pciker-list,
.mui-pciker-rule {
  height: 42px;
  line-height: 42px;
}

.c-card-tans__tans-select {
  display: flex;
  position: relative;
  z-index: 5;
  background-color: #fff;
  border-bottom: 1px solid #eee;

  a {
    position: relative;
    display: inline-block;
    flex: 1;
    height: px2rem(88px);
    line-height: px2rem(88px);
    text-align: center;
    font-size: 14px;
  }

  .c-card-tans__tans-select-active {
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: px2rem(6px);
      background-color: $main-color;
    }
  }

  .c-card-tans__tans-opt {
    flex: none;
    width: px2rem(230px);

    span {
      margin-left: 5px;
      font-size: 18px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: px2rem(18px);
      width: 1px;
      height: px2rem(48px);
      background-color: #ccc;
    }
  }
}

// 筛选框
.c-card-tans__tans-screen {
  position: absolute;
  left: 0;
  top: px2rem(88px);
  z-index: 100;
  width: 100%;
  margin-top: 1px;
  background-color: #fff;
}

.c-card-tans__tans-screen-wrap {
  padding: px2rem(15px) px2rem(30px) px2rem(30px);
  border-bottom: 1px solid $line-color;

  p {
    font-size: 14px;
    margin: px2rem(20px) 0 px2rem(15px);
    color: $input-color;
  }

  strong,
  .c-card-tans__time-select,
  input[type="number"] {
    display: inline-block;
    height: px2rem(60px);
    line-height: px2rem(60px);
    margin-right: px2rem(20px);
    padding: 0 px2rem(38px);
    font-size: 14px;
    color: #666;
    border: 1px solid $line-color;
    border-radius: 4px;

    input[type="radio"] {
      display: none;
    }
  }

  strong:last-child {
    margin-right: 0;
  }

  .c-card-tans__time-select {
    padding: 0 px2rem(28px);
  }

  input[type="number"] {
    width: px2rem(250px);
    padding: 0 px2rem(18px);
    text-align: center;
  }

  .c-card-tans__screen-active {
    border-color: $main-color;
    color: $main-color;
  }
}

.c-card-tans__select__wrap {
  line-height: px2rem(60px);
  vertical-align: middle;

  button:nth-child(2),
  input[type="number"]:nth-child(2) {
    margin-left: px2rem(20px);
  }
}

.c-calendar {
  display: inline-block;
  width: px2rem(42px);
  height: px2rem(42px);
  margin: px2rem(-6px) 0 0 px2rem(10px);
  background: url(../images/calendar.png) center no-repeat;
  background-size: px2rem(42px) auto;
  vertical-align: middle;
}

.c-card-tans__btn-wrap {
  padding: px2rem(30px);
  text-align: right;
}

.u-hide {
  display: none;
}

.u-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

// 交易记录列表
.c-card-tans-list {
  background-color: #fff;

  li {
    border-bottom: 1px solid $line-color;
    display: flex;
  }
}

.c-card-tans-item {
  flex: 1;
  padding: px2rem(30px) 0 px2rem(30px) px2rem(30px);
}

.c-card-tans-item__line {
  display: flex;
  font-size: 12px;
  line-height: 1.5;
  color: $sub-color;

  strong {
    flex: 1;
    font-style: normal;
  }

  em {
    flex: 2;
    font-style: normal;
    text-align: right;
  }

  &:nth-child(-n + 2) {
    margin-bottom: px2rem(10px);
    font-size: 16px;
  }

  &:nth-child(n + 4) {
    display: none;
  }
}

.c-card-tans-item__showmore {
  .c-card-tans-item__line {
    &:nth-child(n + 3) {
      display: flex;
    }
  }
}

.c-card-tans-item__income {
  color: #25a16b;
}

.c-card-tans-item__expend {
  color: #f25555;
}

.c-card-tans-item__btn {
  width: px2rem(80px);

  span {
    color: $sub-color;
    font-size: 18px;
    margin: px2rem(48px) 0 0 px2rem(15px);
  }
}

// 暂无记录
.u-data-empty {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: px2rem(800px);
}

.u-data-empty__info {
  position: absolute;
  top: px2rem(210px);
  left: 50%;
  width: px2rem(250px);
  height: px2rem(250px);
  margin-left: px2rem(-125px);
  border-radius: 50%;
  background: #efefef url(../images/blank.png) center no-repeat;
  background-size: px2rem(120px);
  text-align: center;

  em {
    display: inline-block;
    margin-top: px2rem(270px);
    font-size: 14px;
    color: $placeholder-color;
  }
}

// 交易明细详情页
.c-card-tans__detail-main {
  color: $main-color;
  font-size: 17px;
  height: px2rem(88px);
  line-height: px2rem(88px);
  margin-bottom: px2rem(20px);
  padding: 0 px2rem(30px);
  background-color: #fff;

  strong {
    float: right;
  }
}

.c-card-tans__detail-wrap {
  background-color: #fff;
  padding: px2rem(30px);

  .c-card-tans-item__detail-line {
    display: block;
    height: px2rem(60px);
    line-height: px2rem(60px);
    font-size: 14px;

    strong {
      display: inline-block;
      width: px2rem(160px);
      color: $placeholder-color;
    }

    em {
      display: inline-block;
      color: $input-color;
    }
  }
}

// 理财
@import "manage_money";

// 信用卡
@import "credit_cards";

// 信用卡zbb
@import "creditcard01";
// 大额存单zbb
@import "certificate_deposit";
